@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.register-page {
  width: 500px;
  padding: 8% 0 0;
  margin: auto;
}
.container {
  position: relative;
  z-index: 1;
  background: #f2f2f2;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.container button {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.container button:hover,.container button:active,.container button:focus {
  background: #43A047;
}
.ptitle {
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #4CAF50;
}
.profile {
  padding: 25px;
  background-color: #4CAF50;
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-top-right-radius: 35px;
}
.profile span {
  background-color: #f0f0f0;
  box-shadow: 0 0 1px 1px black;
  padding: 8px;
  font-family: "Roboto", sans-serif;
  border-radius: 2px;
  border-top-right-radius: 10px;
  font-weight: normal;
  line-height: 21pt;
}
.profile .disp_address {
  line-height: 32pt;
}
.formfield {
  z-index: 1;
  background: #FFFFFF;
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.formfield input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.formfield button {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.formfield button:hover,.formfield button:active,.formfield button:focus {
  background: #43A047;
}
label {
    font-family: "Roboto", sans-serif;
}
#back {
    background: #d60a23;
}
#back:hover,#back:active,#back:focus {
  background: #b3091e;
}
.formfield .msg {
  margin: 15px 0 0;
  font-size: 13px;
  color: #f91a1a;
  text-decoration: none;
}
body {
  background: #76b852;
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
#cancel, #logout {
    background: #d60a23;
}
#cancel:hover, #logout:hover,#cancel:active, #logout:active,#cancel:focus, #logout:focus {
  background: #b3091e;
}