ebody {
    font-size: 19px;  
	background: #AAB7B8;
}


.homepage_buttons_group{
    width: 30%;
    margin: 50px auto;
    text-align: center;
    padding: 60px 10px; 
    border: 1px solid #bbbbbb; 
    border-radius: 5px;
}

.manager_btn {
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 50px;
    color: white;
    border-radius: 20px;
    background: #FF0000;
}

.employee_btn {
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 50px;
    color: white;
    border-radius: 20px;
    background: #FF0000;
}