body {
    font-size: 19px;
    font-style: monospace;
}
form {
    width: 45%;
    margin: 50px auto;
    text-align: left;
    padding: 20px; 
    border: 1px solid #bbbbbb; 
    border-radius: 20px;
}
.msg {
    margin: 30px auto; 
    padding: 10px; 
    border-radius: 5px; 
    color: #000000; 
    background: #e54444;
    border: 1px solid #f91a1a;
    width: 50%;
    text-align: center;
}
.input {
    margin: 10px 0px 10px 0px;
}
.input label {
    display: block;
    text-align: left;
    margin: 5px;
}
.input input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid gray;
}
.input button {
    text-align: center;
}
#login, #back {
    padding: 15px;
    font-size: 22px;
    color: white;
    background: #32cd32;
    border: none;
    border-radius: 20px;
}
#back {
    background: #808080;
}